Repository beastyrabbit/infinitune: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, typecheck

biome-check:
  run: npx @biomejs/biome check --no-errors-on-unmatched {staged_files}

typecheck:
  run: pnpm -r typecheck

Update dependency radix-ui to v1.6.7
  pnpm-lock.yaml
Due: none

Update dependency @hono/node-server to v1.19.17
  pnpm-lock.yaml
Due: none

Update dependency jsdom to v30
  apps/web/package.json
  package.json
  pnpm-lock.yaml
Due: biome-check

Update dependency @biomejs/biome to v2.5.6
  package.json
  pnpm-lock.yaml
Due: biome-check

Update dependency motion to v12.43.0
  pnpm-lock.yaml
Due: none

Update react monorepo
  pnpm-lock.yaml
Due: none

Update dependency ollama-ai-provider-v2 to v3.6.0
  pnpm-lock.yaml
Due: none

Update dependency nitro to v3.0.1-20260731-205209-52abde8a
  apps/web/package.json
  package.json
  pnpm-lock.yaml
Due: biome-check

Update tailwindcss monorepo to v4.3.3
  pnpm-lock.yaml
Due: none

Update dependency @vitejs/plugin-react to v5.2.0
  pnpm-lock.yaml
Due: none

Update dependency @types/better-sqlite3 to v9
  apps/server/package.json
  package.json
  pnpm-lock.yaml
Due: biome-check

Update dependency vite to v7.3.6
  pnpm-lock.yaml
Due: none

Update dependency vitest to v3.2.7
  pnpm-lock.yaml
Due: none

Update dependency drizzle-kit to v0.31.10
  pnpm-lock.yaml
Due: none

Update dependency @modelcontextprotocol/sdk to v1.30.0
  pnpm-lock.yaml
Due: none

Update dependency hono to v4.13.0
  pnpm-lock.yaml
Due: none

Update dependency jose to v6.2.8
  pnpm-lock.yaml
Due: none

Update dependency tsx to v4.23.5
  pnpm-lock.yaml
Due: none

Update dependency ws to v8.21.2
  pnpm-lock.yaml
Due: none

Update tanstack-router monorepo to v1.170.18
  pnpm-lock.yaml
Due: none

feat: add safe share links and switchable radio stations
  .forgejo/workflows/build.yaml
  CLAUDE.md
  README.md
  apps/server/src/__tests__/cover-first-radio.test.ts
  apps/server/src/__tests__/rate-limit.test.ts
  apps/server/src/__tests__/service-urls.test.ts
  apps/server/src/__tests__/share-link-service.test.ts
  apps/server/src/__tests__/station-presets.test.ts
  apps/server/src/__tests__/test-db.ts
  apps/server/src/db/migrate.ts
  apps/server/src/db/schema.ts
  apps/server/src/events/event-bus.ts
  apps/server/src/events/ws-bridge.ts
  apps/server/src/external/service-urls.ts
  apps/server/src/index.ts
  apps/server/src/middleware/limiters.ts
  apps/server/src/middleware/rate-limit.ts
  apps/server/src/routes/autoplayer.ts
  apps/server/src/routes/playlists.ts
  apps/server/src/routes/radio.ts
  apps/server/src/routes/share.ts
  apps/server/src/routes/songs/create.ts
  apps/server/src/services/album-generation-service.ts
  apps/server/src/services/album-planner.ts
  apps/server/src/services/radio-station-presets-service.ts
  apps/server/src/services/radio-station-service.ts
  apps/server/src/services/settings-service.ts
  apps/server/src/services/share-link-service.ts
  apps/web/src/__tests__/endpoints.test.ts
  apps/web/src/components/autoplayer/DeviceControlPanel.tsx
  apps/web/src/components/autoplayer/ShareButton.tsx
  apps/web/src/components/autoplayer/StationPresets.tsx
  apps/web/src/integrations/api/hooks.ts
  apps/web/src/lib/endpoints.ts
  apps/web/src/routeTree.gen.ts
  apps/web/src/routes/api.autoplayer.openrouter-models.ts
  apps/web/src/routes/autoplayer.tsx
  apps/web/src/routes/autoplayer_.oneshot.tsx
  apps/web/src/routes/mcp.ts
  apps/web/src/routes/share_.$token.tsx
Due: biome-check, typecheck

fix: harden share links and station presets
  .forgejo/workflows/build.yaml
  README.md
  apps/server/src/__tests__/rate-limit.test.ts
  apps/server/src/__tests__/settings-service.test.ts
  apps/server/src/__tests__/share-link-service.test.ts
  apps/server/src/__tests__/song-route-access.test.ts
  apps/server/src/__tests__/station-presets.test.ts
  apps/server/src/middleware/limiters.ts
  apps/server/src/middleware/rate-limit.ts
  apps/server/src/routes/radio.ts
  apps/server/src/routes/songs/access.ts
  apps/server/src/routes/songs/create.ts
  apps/server/src/routes/songs/engagement.ts
  apps/server/src/routes/songs/lifecycle.ts
  apps/server/src/routes/songs/metadata.ts
  apps/server/src/routes/songs/queries.ts
  apps/server/src/services/radio-station-presets-service.ts
  apps/server/src/services/settings-service.ts
  apps/server/src/services/share-link-service.ts
  apps/server/src/services/song-service.ts
  apps/web/src/__tests__/share-button.test.ts
  apps/web/src/__tests__/share-loader.test.ts
  apps/web/src/components/autoplayer/ShareButton.tsx
  apps/web/src/components/autoplayer/StationPresets.tsx
  apps/web/src/lib/share-links.ts
  apps/web/src/lib/share-loader.ts
  apps/web/src/mcp-todos.ts
  apps/web/src/routes/share_.$token.tsx
  apps/web/src/utils/mcp-handler.ts
  docker-entrypoint.sh
  package.json
Due: biome-check, typecheck

fix: resolve final share review findings
  README.md
  apps/server/src/__tests__/rate-limit.test.ts
  apps/server/src/__tests__/settings-service.test.ts
  apps/server/src/__tests__/share-link-service.test.ts
  apps/server/src/middleware/rate-limit.ts
  apps/server/src/routes/share.ts
  apps/server/src/services/settings-service.ts
  apps/web/src/__tests__/share-loader.test.ts
  apps/web/src/lib/share-loader.ts
  apps/web/src/routes/share_.$token.tsx
Due: biome-check, typecheck

fix: keep timed share retention monotonic
  apps/server/src/__tests__/share-link-service.test.ts
  apps/server/src/services/share-link-service.ts
Due: biome-check, typecheck

fix: make share retention cleanup atomic
  apps/server/src/__tests__/playlist-service.test.ts
  apps/server/src/services/playlist-service.ts
  apps/server/src/services/share-link-service.ts
Due: biome-check, typecheck

fix: require production app origin on server
  README.md
  docker-entrypoint.sh
Due: none

fix: validate production app origin
  README.md
  docker-entrypoint.sh
Due: none

fix: close final playback and origin review gaps
  apps/cli/package.json
  apps/cli/src/cli.ts
  apps/cli/src/daemon/runtime.ts
  apps/cli/src/lib/api.test.ts
  apps/cli/src/lib/api.ts
  apps/cli/src/lib/room-resolution.test.ts
  apps/cli/src/lib/room-resolution.ts
  apps/server/src/__tests__/device-actor.test.ts
  apps/server/src/__tests__/docker-entrypoint.test.ts
  apps/server/src/__tests__/song-route-access.test.ts
  apps/server/src/auth/device.ts
  apps/server/src/routes/playlists.ts
  apps/server/src/routes/songs/access.ts
  apps/server/src/routes/songs/engagement.ts
  apps/server/src/routes/songs/lifecycle.ts
  apps/server/src/routes/songs/queries.ts
  docker-entrypoint.sh
Due: biome-check, typecheck

fix: preserve share loading and legacy library results
  README.md
  apps/server/src/__tests__/docker-entrypoint.test.ts
  apps/server/src/__tests__/radio-services.test.ts
  apps/server/src/routes/radio.ts
  apps/server/src/services/song-service.ts
  package.json
Due: biome-check, typecheck

fix: validate proxy trust before serving
  README.md
  apps/server/src/__tests__/docker-entrypoint.test.ts
  apps/server/src/__tests__/song-route-access.test.ts
  apps/server/src/routes/radio.ts
  docker-entrypoint.sh
Due: biome-check, typecheck

fix: protect ownerless share management
  README.md
  apps/server/src/__tests__/share-link-service.test.ts
  apps/server/src/routes/share.ts
  apps/web/src/__tests__/share-button.test.ts
  apps/web/src/components/autoplayer/ShareButton.tsx
  apps/web/src/lib/share-links.ts
  apps/web/vitest.config.ts
Due: biome-check, typecheck

fix: bound anonymous sharing and require web origin
  README.md
  apps/server/src/__tests__/share-link-service.test.ts
  apps/server/src/routes/share.ts
  apps/server/src/services/share-link-service.ts
  apps/web/src/__tests__/endpoints.test.ts
  apps/web/src/__tests__/server-entry.test.ts
  apps/web/src/__tests__/share-button.test.ts
  apps/web/src/components/autoplayer/ShareButton.tsx
  apps/web/src/lib/endpoints.ts
  apps/web/src/server.ts
Due: biome-check, typecheck

fix: close share and audio queue review gaps
  README.md
  apps/server/src/__tests__/ace-poll.test.ts
  apps/server/src/__tests__/request-logging.test.ts
  apps/server/src/__tests__/share-link-service.test.ts
  apps/server/src/external/ace.ts
  apps/server/src/index.ts
  apps/server/src/services/share-link-service.ts
  apps/server/src/worker/runtime/queue-actors.test.ts
  apps/web/src/components/autoplayer/StationPresets.tsx
  apps/web/src/components/autoplayer/settings/SettingsTabAudioEngine.tsx
Due: biome-check, typecheck

feat: add exact cover lyrics from LRCLIB
  README.md
  apps/server/src/__tests__/cover-first-radio.test.ts
  apps/server/src/__tests__/lrclib.test.ts
  apps/server/src/__tests__/migration-radio.test.ts
  apps/server/src/__tests__/reimagine-url-lrclib.test.ts
  apps/server/src/__tests__/test-db.ts
  apps/server/src/db/migrate.ts
  apps/server/src/db/schema.ts
  apps/server/src/external/lrclib.ts
  apps/server/src/external/youtube-audio.ts
  apps/server/src/routes/songs/create.ts
  apps/server/src/services/album-generation-service.ts
  apps/server/src/services/song-service.ts
  apps/server/src/worker/song-worker.test.ts
  apps/server/src/worker/song-worker.ts
  apps/web/src/integrations/api/hooks.ts
  apps/web/src/routes/autoplayer_.reimagine.tsx
  packages/shared/src/types.ts
Due: biome-check, typecheck

fix: harden restored cover generation
  Dockerfile
  README.md
  apps/server/src/__tests__/lrclib.test.ts
  apps/server/src/__tests__/migration-openrouter-restore.test.ts
  apps/server/src/__tests__/openrouter-auth.test.ts
  apps/server/src/__tests__/production-spend-auth.test.ts
  apps/server/src/__tests__/reimagine-url-lrclib.test.ts
  apps/server/src/__tests__/youtube-audio-cache.test.ts
  apps/server/src/db/migrate.ts
  apps/server/src/external/lrclib.ts
  apps/server/src/external/openrouter-auth.ts
  apps/server/src/external/pi-runtime.ts
  apps/server/src/external/youtube-audio.ts
  apps/server/src/radio/radio-ws-handler.ts
  apps/server/src/routes/radio.ts
  apps/server/src/routes/songs/create.ts
  apps/web/src/components/autoplayer/DirectionSteering.tsx
  apps/web/src/routes/autoplayer.tsx
Due: biome-check, typecheck

test: verify cover lyrics reach ACE
  apps/server/src/__tests__/song-worker-lrclib-integration.test.ts
  apps/web/src/__tests__/autoplayer-proxy.test.ts
  apps/web/src/lib/autoplayer-proxy.ts
Due: biome-check, typecheck

fix: close final ship review gaps
  .forgejo/workflows/build.yaml
  Dockerfile
  README.md
  apps/server/src/__tests__/lrclib.test.ts
  apps/server/src/__tests__/openrouter-auth-routes.test.ts
  apps/server/src/__tests__/openrouter-credential-owner.test.ts
  apps/server/src/__tests__/pi-runtime-openrouter.test.ts
  apps/server/src/__tests__/production-spend-auth.test.ts
  apps/server/src/__tests__/radio-control-limits.test.ts
  apps/server/src/__tests__/radio-services.test.ts
  apps/server/src/__tests__/settings-service.test.ts
  apps/server/src/__tests__/youtube-audio-cache.test.ts
  apps/server/src/external/lrclib.ts
  apps/server/src/external/openrouter-auth.ts
  apps/server/src/external/pi-runtime.ts
  apps/server/src/external/youtube-audio.ts
  apps/server/src/middleware/limiters.ts
  apps/server/src/radio/radio-ws-handler.ts
  apps/server/src/routes/autoplayer.ts
  apps/server/src/routes/radio.ts
  apps/server/src/routes/settings.ts
  apps/server/src/services/radio-mixer-service.ts
  apps/server/src/services/radio-station-service.ts
  apps/server/src/services/settings-service.ts
  apps/server/src/services/song-service.ts
  apps/web/src/__tests__/openrouter-credential-ui.test.ts
  apps/web/src/__tests__/radio-socket.test.tsx
  apps/web/src/components/autoplayer/settings/SettingsTabNetwork.tsx
  apps/web/src/integrations/api/hooks.ts
  apps/web/src/lib/radio-socket.ts
  apps/web/src/routes/autoplayer.tsx
  apps/web/src/routes/autoplayer_.settings.tsx
Due: biome-check, typecheck

fix: harden production identity boundaries
  README.md
  apps/server/src/__tests__/actor.test.ts
  apps/server/src/__tests__/production-spend-auth.test.ts
  apps/server/src/auth/actor.ts
  apps/server/src/middleware/rate-limit.ts
  apps/server/src/routes/settings.ts
Due: biome-check, typecheck

fix: close final radio and sharing review gaps
  apps/server/src/__tests__/actor.test.ts
  apps/server/src/__tests__/radio-control-limits.test.ts
  apps/server/src/auth/actor.ts
  apps/server/src/routes/radio.ts
  apps/web/src/__tests__/share-button.test.ts
  apps/web/src/components/autoplayer/ShareButton.tsx
Due: biome-check, typecheck

Path conditions:
  biome-check: any of: *.{ts,tsx,js,jsx,json}
  typecheck: any of: *.{ts,tsx}
