Repository beastyrabbit/infinitune: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, typecheck

lefthook.yml:

pre-commit:
  commands:
    gitleaks:
      run: gitleaks protect --staged --no-banner
    biome-check:
      glob: "*.{ts,tsx,js,jsx,json}"
      run: npx @biomejs/biome check --no-errors-on-unmatched {staged_files}
    typecheck:
      glob: "*.{ts,tsx}"
      run: pnpm -r typecheck

feat: cover-first radio — LLM album planner, source acquisition, Sources UI
  apps/server/src/__tests__/cover-first-radio.test.ts
  apps/server/src/__tests__/test-db.ts
  apps/server/src/db/migrate.ts
  apps/server/src/db/schema.ts
  apps/server/src/external/youtube-audio.ts
  apps/server/src/routes/radio.ts
  apps/server/src/services/album-generation-service.ts
  apps/server/src/services/album-planner.ts
  apps/server/src/services/cover-source-service.ts
  apps/server/src/services/song-service.ts
  apps/server/src/worker/song-worker.ts
  apps/web/src/integrations/api/hooks.ts
  apps/web/src/routeTree.gen.ts
  apps/web/src/routes/autoplayer.tsx
  apps/web/src/routes/autoplayer_.sources.tsx
  packages/shared/src/types.ts
Due: biome-check, typecheck

fix: review hardening — observability, atomic claims, cache integrity
  apps/server/src/__tests__/cover-first-radio.test.ts
  apps/server/src/__tests__/radio-services.test.ts
  apps/server/src/external/youtube-audio.ts
  apps/server/src/services/album-generation-service.ts
  apps/server/src/services/cover-source-service.ts
  apps/server/src/worker/song-worker.ts
  apps/web/src/integrations/api/hooks.ts
  apps/web/src/routes/autoplayer_.sources.tsx
Due: biome-check, typecheck

Update dependency @mariozechner/pi-ai to v0.73.1
  apps/server/package.json
  pnpm-lock.yaml
Due: biome-check

Update dependency @mariozechner/pi-coding-agent to v0.73.1
  apps/server/package.json
  pnpm-lock.yaml
Due: biome-check

Update dependency @statelyai/inspect to ^0.7.0
  apps/server/package.json
  pnpm-lock.yaml
Due: biome-check

Update dependency @tanstack/react-devtools to ^0.10.0
  apps/web/package.json
  package.json
  pnpm-lock.yaml
Due: biome-check

Update dependency @tanstack/react-store to ^0.11.0
  apps/web/package.json
  package.json
  pnpm-lock.yaml
Due: biome-check

Update dependency @tanstack/store to ^0.11.0
  apps/web/package.json
  package.json
  pnpm-lock.yaml
Due: biome-check

Update dependency zod to v4.4.3
  apps/server/package.json
  apps/web/package.json
  package.json
  packages/shared/package.json
  pnpm-lock.yaml
Due: biome-check

Update lucide monorepo to ^0.577.0
  apps/web/package.json
  package.json
  pnpm-lock.yaml
Due: biome-check

Update dependency @hono/node-server to v2
  apps/server/package.json
  package.json
  pnpm-lock.yaml
Due: biome-check

Update dependency @vitejs/plugin-react to v6
  apps/web/package.json
  package.json
  pnpm-lock.yaml
Due: biome-check

Update dependency amqplib to v2
  package.json
  pnpm-lock.yaml
Due: biome-check

Update dependency concurrently to v10
  package.json
  pnpm-lock.yaml
Due: biome-check

Update dependency streamdown to v2
  apps/web/package.json
  package.json
  pnpm-lock.yaml
Due: biome-check

Update dependency vite to v8
  apps/web/package.json
  package.json
  pnpm-lock.yaml
Due: biome-check

Update dependency zod-openapi to v6
  package.json
  pnpm-lock.yaml
Due: biome-check

Update lucide monorepo to v1
  apps/web/package.json
  package.json
  pnpm-lock.yaml
Due: biome-check

Update Node.js to v24
  Dockerfile
  apps/cli/package.json
  apps/server/package.json
  apps/web/package.json
  package.json
  pnpm-lock.yaml
Due: biome-check

Update vitest monorepo to v4
  apps/server/package.json
  apps/web/package.json
  package.json
  pnpm-lock.yaml
Due: biome-check

Update actions/checkout action to v7
  .forgejo/workflows/build.yaml
Due: none

Update dependency @tanstack/devtools-vite to ^0.8.0
  apps/web/package.json
  package.json
  pnpm-lock.yaml
Due: biome-check

Update dependency @tanstack/devtools-event-client to ^0.5.0
  apps/web/package.json
  package.json
  pnpm-lock.yaml
Due: biome-check

Update dependency portless to ^0.15.0
  package.json
  pnpm-lock.yaml
Due: biome-check

Update dependency ollama-ai-provider-v2 to v4
  package.json
  pnpm-lock.yaml
Due: biome-check

Update dependency typescript to v7
  apps/cli/package.json
  apps/server/package.json
  apps/web/package.json
  package.json
  pnpm-lock.yaml
Due: biome-check

Update dependency @hono/node-ws to v1.3.1
  pnpm-lock.yaml
Due: none

Update dependency concurrently to v9.2.4
  pnpm-lock.yaml
Due: none

Update dependency drizzle-orm to v0.45.2
  pnpm-lock.yaml
Due: none

Update dependency vite-tsconfig-paths to v6.1.1
  pnpm-lock.yaml
Due: none

Update dependency @types/node to v22.20.1
  pnpm-lock.yaml
Due: none

Update dependency better-sqlite3 to v12.11.1
  pnpm-lock.yaml
Due: none

Update dependency tailwind-merge to v3.6.0
  pnpm-lock.yaml
Due: none

Update dependency web-vitals to v5.3.0
  pnpm-lock.yaml
Due: none

Update dependency xstate to v5.32.5
  pnpm-lock.yaml
Due: none

Update dependency @tanstack/react-query to v5.101.4
  pnpm-lock.yaml
Due: none

Update dependency better-sqlite3 to v13
  apps/server/package.json
  package.json
  pnpm-lock.yaml
Due: biome-check

Update dependency web-vitals to v6
  package.json
  pnpm-lock.yaml
Due: biome-check

Update dependency react-doctor to ^0.9.0
  package.json
  pnpm-lock.yaml
Due: biome-check
