Repository beastyrabbit/infinitune: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, typecheck

lefthook.yml:

pre-commit:
  commands:
    gitleaks:
      run: gitleaks protect --staged --no-banner
    biome-check:
      glob: "*.{ts,tsx,js,jsx,json}"
      run: npx @biomejs/biome check --no-errors-on-unmatched {staged_files}
    typecheck:
      glob: "*.{ts,tsx}"
      run: pnpm -r typecheck

fix: use pnpm -C instead of --filter for dev scripts
  package.json
Due: biome-check

fix: correct cover art paths and normalize stale cover URLs
  apps/server/src/covers.ts
  apps/server/src/index.ts
Due: biome-check, typecheck

fix: check buffer deficit when playlist position advances
  apps/server/src/worker/index.ts
Due: biome-check, typecheck

chore: update dependencies
  package.json
  pnpm-lock.yaml
Due: biome-check

refactor: centralize API endpoint URLs into endpoints.ts
  apps/web/src/hooks/useRoomConnection.ts
  apps/web/src/hooks/useWorkerStatus.ts
  apps/web/src/integrations/api/client.ts
  apps/web/src/integrations/api/provider.tsx
  apps/web/src/lib/endpoints.ts
  apps/web/src/lib/server-settings.ts
  apps/web/src/routes/autoplayer.tsx
  apps/web/src/routes/autoplayer_.settings.tsx
  apps/web/src/routes/rooms.tsx
Due: biome-check, typecheck

feat: add Dockerfile, entrypoint, and .dockerignore
  .dockerignore
  Dockerfile
  docker-entrypoint.sh
Due: none

ci: add GitHub Actions workflow for container image builds
  .github/workflows/build.yaml
Due: none

fix: address Greptile review comments
  .github/workflows/build.yaml
  Dockerfile
Due: none

fix: remove unused DATA_DIR env from Dockerfile
  Dockerfile
Due: none

fix: add tsx binary assertion in Dockerfile
  Dockerfile
Due: none

Deploy Infinitune to Kubernetes (#16)
  .dockerignore
  .github/workflows/build.yaml
  Dockerfile
  apps/web/src/hooks/useRoomConnection.ts
  apps/web/src/hooks/useWorkerStatus.ts
  apps/web/src/integrations/api/client.ts
  apps/web/src/integrations/api/provider.tsx
  apps/web/src/lib/endpoints.ts
  apps/web/src/lib/server-settings.ts
  apps/web/src/routes/autoplayer.tsx
  apps/web/src/routes/autoplayer_.settings.tsx
  apps/web/src/routes/rooms.tsx
  docker-entrypoint.sh
Due: biome-check, typecheck

fix: use --save-prod for tsx in Docker prod-deps stage
  Dockerfile
Due: none

fix: move tsx to production dependencies for Docker build
  Dockerfile
  package.json
  pnpm-lock.yaml
Due: biome-check

fix: set NODE_ENV=production in runtime stage
  Dockerfile
Due: none

fix: auto-detect origin to avoid mixed content on HTTPS
  .github/workflows/build.yaml
  Dockerfile
  apps/web/src/lib/endpoints.ts
Due: biome-check, typecheck

fix: address code review findings
  apps/web/src/lib/endpoints.ts
Due: biome-check, typecheck

fix: mixed content — ws:// blocked on HTTPS pages (#17)
  .github/workflows/build.yaml
  Dockerfile
  apps/web/src/lib/endpoints.ts
Due: biome-check, typecheck

docs: add URL resolution pattern to CLAUDE.md
  CLAUDE.md
Due: none

feat: add audio streaming endpoint for NFS-stored songs
  apps/server/src/index.ts
  apps/server/src/routes/songs/queries.ts
  apps/server/src/worker/song-worker.ts
Due: biome-check, typecheck

fix: remove unnecessary fragment, fix biome formatting
  apps/server/src/__tests__/event-handlers.test.ts
  apps/server/src/__tests__/playlist-service.test.ts
  apps/server/src/__tests__/test-db.ts
  apps/server/src/db/migrate.ts
  apps/server/src/db/schema.ts
  apps/server/src/routes/playlists.ts
  apps/server/src/services/playlist-service.ts
  apps/web/src/integrations/api/hooks.ts
  apps/web/src/routeTree.gen.ts
  apps/web/src/routes/autoplayer.tsx
  apps/web/src/routes/autoplayer_.playlists.tsx
  packages/shared/src/types.ts
Due: biome-check, typecheck

fix: change filter tabs from active/closed to endless/oneshot
  apps/web/src/routes/autoplayer_.playlists.tsx
Due: biome-check, typecheck

chore: clean up root PNGs and update README for current architecture
  .gitignore
  README.md
  autoplayer-with-rooms-nav.png
  controller-renamed.png
  controller-view.png
  rooms-create-form.png
  rooms-empty-state.png
  rooms-playlist-dropdown.png
  split-start-button.png
Due: none

docs: add screenshots and modernize README structure
  README.md
  docs/screenshots/landing-page.png
  docs/screenshots/library-page.png
  docs/screenshots/oneshot-page.png
  docs/screenshots/player-queue.png
  docs/screenshots/playlists-page.png
  docs/screenshots/queue-view.png
  docs/screenshots/rooms-page.png
  docs/screenshots/settings-page.png
Due: none

fix: address code review findings
  apps/server/src/db/migrate.ts
  apps/server/src/services/playlist-service.ts
  apps/web/src/routes/autoplayer_.playlists.tsx
  packages/shared/src/types.ts
Due: biome-check, typecheck

fix: resolve Greptile review comments
  apps/web/src/components/autoplayer/PlaylistPicker.tsx
  apps/web/src/routes/autoplayer_.playlists.tsx
Due: biome-check, typecheck

fix: remove redundant toUpperCase on search input
  apps/web/src/routes/autoplayer_.playlists.tsx
Due: biome-check, typecheck

feat: playlist management page with favorites (#18)
  .gitignore
  README.md
  apps/server/src/__tests__/event-handlers.test.ts
  apps/server/src/__tests__/playlist-service.test.ts
  apps/server/src/__tests__/test-db.ts
  apps/server/src/db/migrate.ts
  apps/server/src/db/schema.ts
  apps/server/src/routes/playlists.ts
  apps/server/src/services/playlist-service.ts
  apps/web/src/components/autoplayer/PlaylistPicker.tsx
  apps/web/src/integrations/api/hooks.ts
  apps/web/src/routeTree.gen.ts
  apps/web/src/routes/autoplayer.tsx
  apps/web/src/routes/autoplayer_.playlists.tsx
  autoplayer-with-rooms-nav.png
  controller-renamed.png
  controller-view.png
  docs/screenshots/landing-page.png
  docs/screenshots/library-page.png
  docs/screenshots/oneshot-page.png
  docs/screenshots/player-queue.png
  docs/screenshots/playlists-page.png
  docs/screenshots/queue-view.png
  docs/screenshots/rooms-page.png
  docs/screenshots/settings-page.png
  packages/shared/src/types.ts
  rooms-create-form.png
  rooms-empty-state.png
  rooms-playlist-dropdown.png
  split-start-button.png
Due: biome-check, typecheck

fix: add settings endpoints to Hono server, use API_URL in frontend
  apps/server/src/index.ts
  apps/server/src/routes/autoplayer.ts
  apps/web/src/components/autoplayer/PlaylistCreator.tsx
  apps/web/src/components/autoplayer/SettingsDialog.tsx
  apps/web/src/routes/autoplayer_.oneshot.tsx
  apps/web/src/routes/autoplayer_.settings.tsx
  apps/web/src/routes/autoplayer_.testlab.ace.tsx
  apps/web/src/routes/autoplayer_.testlab.connections.tsx
  apps/web/src/routes/autoplayer_.testlab.llm.tsx
Due: biome-check, typecheck

fix: address code review findings
  apps/server/src/index.ts
  apps/server/src/routes/autoplayer.ts
Due: biome-check, typecheck

fix: address greptile review feedback
  apps/server/src/routes/autoplayer.ts
Due: biome-check, typecheck

fix: address greptile review feedback (round 2)
  apps/server/src/routes/autoplayer.ts
  apps/web/src/components/autoplayer/PlaylistCreator.tsx
  apps/web/src/components/autoplayer/SettingsDialog.tsx
  apps/web/src/routes/autoplayer_.settings.tsx
  apps/web/src/routes/autoplayer_.testlab.connections.tsx
Due: biome-check, typecheck

fix: add response.ok checks to remaining testlab/oneshot model fetches
  apps/web/src/routes/autoplayer_.oneshot.tsx
  apps/web/src/routes/autoplayer_.testlab.ace.tsx
  apps/web/src/routes/autoplayer_.testlab.llm.tsx
Due: biome-check, typecheck

fix: settings backend endpoints and API_URL resolution (#19)
  apps/server/src/index.ts
  apps/server/src/routes/autoplayer.ts
  apps/web/src/components/autoplayer/PlaylistCreator.tsx
  apps/web/src/components/autoplayer/SettingsDialog.tsx
  apps/web/src/routes/autoplayer_.oneshot.tsx
  apps/web/src/routes/autoplayer_.settings.tsx
  apps/web/src/routes/autoplayer_.testlab.ace.tsx
  apps/web/src/routes/autoplayer_.testlab.connections.tsx
  apps/web/src/routes/autoplayer_.testlab.llm.tsx
Due: biome-check, typecheck

chore: codex parity (agents/skills/mcp)
  AGENTS.md
Due: none

Add OpenAI Codex provider backend and auth endpoints
  apps/server/src/external/codex-app-server-client.ts
  apps/server/src/external/codex-auth.ts
  apps/server/src/external/llm-client.ts
  apps/server/src/external/llm.ts
  apps/server/src/routes/autoplayer.ts
  apps/server/src/worker/index.ts
  apps/server/src/worker/queues.ts
  apps/server/src/worker/song-worker.ts
  packages/shared/src/types.ts
Due: biome-check, typecheck

Add OpenAI Codex subscription provider to web flows
  apps/server/src/external/codex-app-server-client.ts
  apps/server/src/routes/autoplayer.ts
  apps/web/src/components/autoplayer/PlaylistCreator.tsx
  apps/web/src/components/autoplayer/settings/SettingsTabModels.tsx
  apps/web/src/components/autoplayer/settings/SettingsTabNetwork.tsx
  apps/web/src/routes/api.autoplayer.enhance-prompt.ts
  apps/web/src/routes/api.autoplayer.enhance-request.ts
  apps/web/src/routes/api.autoplayer.enhance-session.ts
  apps/web/src/routes/api.autoplayer.extract-persona.ts
  apps/web/src/routes/api.autoplayer.generate-album-track.ts
  apps/web/src/routes/api.autoplayer.refine-prompt.ts
  apps/web/src/routes/api.autoplayer.test-connection.ts
  apps/web/src/routes/autoplayer.tsx
  apps/web/src/routes/autoplayer_.oneshot.tsx
  apps/web/src/routes/autoplayer_.settings.tsx
  apps/web/src/routes/autoplayer_.testlab.llm.tsx
  apps/web/src/services/llm-client.ts
  apps/web/src/services/llm.ts
Due: biome-check, typecheck

Fix duplicate song error marking on worker failures
  apps/server/src/worker/song-worker.ts
Due: biome-check, typecheck

Add detailed queue, Codex turn, and retry telemetry logs
  apps/server/src/external/codex-app-server-client.ts
  apps/server/src/services/song-service.ts
  apps/server/src/worker/audio-queue.ts
  apps/server/src/worker/endpoint-queue.ts
  apps/server/src/worker/index.ts
Due: biome-check, typecheck

Stabilize oneshot Codex runs with heartbeat, timeout, and stderr filtering
  apps/server/src/external/codex-app-server-client.ts
  apps/web/src/routes/autoplayer_.oneshot.tsx
Due: biome-check, typecheck

Fix oneshot playback routing and media URL resolution
  apps/web/src/hooks/useAudioPlayer.ts
  apps/web/src/hooks/useRoomPlayer.ts
  apps/web/src/integrations/api/hooks.ts
  apps/web/src/lib/endpoints.ts
  apps/web/src/routes/autoplayer.tsx
  apps/web/src/routes/autoplayer_.playlists.tsx
Due: biome-check, typecheck
