Repository beastyrabbit/infinitune: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, typecheck

lefthook.yml:

pre-commit:
  commands:
    gitleaks:
      run: gitleaks protect --staged --no-banner
    biome-check:
      glob: "*.{ts,tsx,js,jsx,json}"
      run: npx @biomejs/biome check --no-errors-on-unmatched {staged_files}
    typecheck:
      glob: "*.{ts,tsx}"
      run: pnpm -r typecheck

Switch CI to self-hosted ARC runner
  .github/workflows/build.yaml
Due: none

fix: use repo-specific ARC runner name
  .github/workflows/build.yaml
Due: none

feat: add agent ensemble runtime
  apps/server/src/__tests__/agent-ensemble.test.ts
  apps/server/src/__tests__/network-guards.test.ts
  apps/server/src/__tests__/playlist-service.test.ts
  apps/server/src/__tests__/provider-registry.test.ts
  apps/server/src/__tests__/song-service.test.ts
  apps/server/src/agents/channel-store.ts
  apps/server/src/agents/memory-store.ts
  apps/server/src/agents/playlist-director-service.ts
  apps/server/src/agents/tools/web-tools.ts
  apps/server/src/external/ace.ts
  apps/server/src/external/codex-imagegen.ts
  apps/server/src/external/inference-sh.ts
  apps/server/src/index.ts
  apps/server/src/routes/playlists.ts
  apps/server/src/services/playlist-service.ts
  apps/server/src/services/song-service.ts
  apps/server/src/utils/public-http.ts
  apps/server/src/worker/index.ts
  apps/server/src/worker/runtime/provider-registry.ts
  apps/server/src/worker/runtime/types.ts
  apps/server/src/worker/song-worker.ts
  apps/web/src/components/autoplayer/PlaylistCreator.tsx
  apps/web/src/components/autoplayer/settings/SettingsTabModels.tsx
  apps/web/src/routes/autoplayer.tsx
  apps/web/src/routes/autoplayer_.orchestrator.tsx
  apps/web/src/routes/autoplayer_.settings.tsx
  apps/web/src/routes/autoplayer_.testlab.e2e.tsx
  apps/web/src/routes/autoplayer_.testlab.llm.tsx
  apps/web/src/services/ace.ts
  apps/web/src/services/codex-imagegen.ts
  packages/shared/src/validation/playlist-schemas.ts
  packages/shared/src/validation/song-status.ts
Due: biome-check, typecheck

fix: address greptile agent ensemble review
  apps/server/src/__tests__/agent-ensemble.test.ts
  apps/server/src/__tests__/network-guards.test.ts
  apps/server/src/__tests__/song-service.test.ts
  apps/server/src/agents/playlist-director-service.ts
  apps/server/src/agents/tools/web-tools.ts
  apps/server/src/external/pi-runtime.ts
  apps/server/src/routes/agent-memory.ts
  apps/server/src/routes/playlists.ts
  apps/server/src/services/song-service.ts
Due: biome-check, typecheck

fix: cap director answer content
  apps/server/src/__tests__/agent-ensemble.test.ts
  apps/server/src/agents/playlist-director-service.ts
  apps/server/src/routes/playlists.ts
Due: biome-check, typecheck

fix: address final greptile runtime findings
  apps/server/src/external/pi-runtime.ts
  apps/server/src/worker/song-worker.ts
Due: biome-check, typecheck

fix: cap agent memory payload size
  apps/server/src/__tests__/agent-ensemble.test.ts
  apps/server/src/agents/memory-store.ts
  apps/server/src/agents/tools/memory-tools.ts
  apps/server/src/routes/agent-memory.ts
Due: biome-check, typecheck

fix: install native build tools in docker image
  Dockerfile
Due: none

feat: surface ACE-Step XL model settings
  README.md
  apps/server/src/__tests__/ace-submit.test.ts
  apps/server/src/__tests__/event-handlers.test.ts
  apps/server/src/__tests__/playlist-service.test.ts
  apps/server/src/__tests__/test-db.ts
  apps/server/src/agents/tools/playlist-context-tools.ts
  apps/server/src/db/migrate.ts
  apps/server/src/db/schema.ts
  apps/server/src/external/ace.ts
  apps/server/src/routes/autoplayer.ts
  apps/server/src/services/playlist-service.ts
  apps/server/src/worker/index.ts
  apps/server/src/worker/runtime/provider-registry.ts
  apps/server/src/worker/runtime/types.ts
  apps/server/src/worker/song-worker.ts
  apps/web/src/components/autoplayer/PlaylistCreator.tsx
  apps/web/src/components/autoplayer/settings/SettingsTabAudioEngine.tsx
  apps/web/src/components/autoplayer/settings/SettingsTabModels.tsx
  apps/web/src/integrations/api/hooks.ts
  apps/web/src/routes/autoplayer.tsx
  apps/web/src/routes/autoplayer_.oneshot.tsx
  apps/web/src/routes/autoplayer_.settings.tsx
  apps/web/src/services/ace.ts
  packages/shared/package.json
  packages/shared/src/ace-settings.ts
  packages/shared/src/types.ts
  packages/shared/src/validation/playlist-schemas.ts
Due: biome-check, typecheck

fix: address code review findings
  apps/server/src/__tests__/ace-settings.test.ts
  apps/server/src/__tests__/ace-submit.test.ts
  apps/server/src/__tests__/playlist-service.test.ts
  apps/server/src/routes/autoplayer.ts
  apps/server/src/services/playlist-service.ts
  apps/server/src/worker/index.ts
  apps/server/src/worker/song-worker.ts
  apps/web/src/components/autoplayer/PlaylistCreator.tsx
  apps/web/src/components/autoplayer/settings/SettingsTabAudioEngine.tsx
  apps/web/src/routes/autoplayer_.oneshot.tsx
  apps/web/src/routes/autoplayer_.settings.tsx
  apps/web/src/services/ace.ts
  packages/shared/src/ace-settings.ts
  packages/shared/src/validation/playlist-schemas.ts
Due: biome-check, typecheck

fix: address Greptile review comments
  apps/server/src/__tests__/ace-submit.test.ts
  apps/server/src/external/ace.ts
  apps/web/src/routes/autoplayer_.settings.tsx
  apps/web/src/services/ace.ts
  packages/shared/src/validation/playlist-schemas.ts
Due: biome-check, typecheck

fix: resolve ACE settings inheritance review
  apps/server/src/worker/index.ts
  apps/server/src/worker/song-worker.test.ts
  apps/server/src/worker/song-worker.ts
  apps/web/src/__tests__/playlist-overrides.test.ts
  apps/web/src/lib/playlist-overrides.ts
  apps/web/src/routes/autoplayer_.settings.tsx
Due: biome-check, typecheck

fix: address remaining ACE review comments
  apps/server/src/__tests__/ace-settings.test.ts
  apps/server/src/worker/index.ts
  apps/web/src/components/autoplayer/settings/SettingsTabAudioEngine.tsx
  apps/web/src/components/autoplayer/settings/SettingsTabModels.tsx
  apps/web/src/routes/autoplayer_.settings.tsx
  packages/shared/src/ace-settings.ts
Due: biome-check, typecheck

fix: keep ACE VAE setting service-level
  apps/server/src/__tests__/event-handlers.test.ts
  apps/server/src/__tests__/playlist-service.test.ts
  apps/server/src/__tests__/test-db.ts
  apps/server/src/agents/tools/playlist-context-tools.ts
  apps/server/src/db/migrate.ts
  apps/server/src/db/schema.ts
  apps/server/src/services/playlist-service.ts
  apps/web/src/components/autoplayer/PlaylistCreator.tsx
  apps/web/src/components/autoplayer/settings/SettingsTabAudioEngine.tsx
  apps/web/src/components/autoplayer/settings/SettingsTabModels.tsx
  apps/web/src/integrations/api/hooks.ts
  apps/web/src/routes/autoplayer.tsx
  apps/web/src/routes/autoplayer_.oneshot.tsx
  apps/web/src/routes/autoplayer_.settings.tsx
  packages/shared/src/types.ts
  packages/shared/src/validation/playlist-schemas.ts
Due: biome-check, typecheck

feat: surface ACE-Step XL model settings
  README.md
  apps/server/src/__tests__/ace-settings.test.ts
  apps/server/src/__tests__/ace-submit.test.ts
  apps/server/src/__tests__/event-handlers.test.ts
  apps/server/src/__tests__/playlist-service.test.ts
  apps/server/src/__tests__/test-db.ts
  apps/server/src/agents/tools/playlist-context-tools.ts
  apps/server/src/db/migrate.ts
  apps/server/src/db/schema.ts
  apps/server/src/external/ace.ts
  apps/server/src/routes/autoplayer.ts
  apps/server/src/services/playlist-service.ts
  apps/server/src/worker/index.ts
  apps/server/src/worker/runtime/provider-registry.ts
  apps/server/src/worker/runtime/types.ts
  apps/server/src/worker/song-worker.test.ts
  apps/server/src/worker/song-worker.ts
  apps/web/src/__tests__/playlist-overrides.test.ts
  apps/web/src/components/autoplayer/PlaylistCreator.tsx
  apps/web/src/components/autoplayer/settings/SettingsTabAudioEngine.tsx
  apps/web/src/components/autoplayer/settings/SettingsTabModels.tsx
  apps/web/src/integrations/api/hooks.ts
  apps/web/src/lib/playlist-overrides.ts
  apps/web/src/routes/autoplayer.tsx
  apps/web/src/routes/autoplayer_.oneshot.tsx
  apps/web/src/routes/autoplayer_.settings.tsx
  apps/web/src/services/ace.ts
  packages/shared/package.json
  packages/shared/src/ace-settings.ts
  packages/shared/src/types.ts
  packages/shared/src/validation/playlist-schemas.ts
Due: biome-check, typecheck

Add Forgejo workflow runner labels
  .forgejo/workflows/build.yaml
Due: none

Use Forgejo registry for container publishing
  .forgejo/workflows/build.yaml
Due: none

Install Docker CLI for Forgejo publishing
  .forgejo/workflows/build.yaml
Due: none

Use portable Docker CLI version check
  .forgejo/workflows/build.yaml
Due: none

Disable GitHub GHCR publishing workflow
  .github/workflows.disabled/build.yaml
Due: none

Use central Forgejo CI registry secret
  .forgejo/workflows/build.yaml
Due: none

Add renovate.json
  renovate.json
Due: biome-check

feat(server): radio station refactor — albums, mixer, requests, stale-track retry
  .gitignore
  apps/server/src/__tests__/event-handlers.test.ts
  apps/server/src/__tests__/migration-radio.test.ts
  apps/server/src/__tests__/radio-services.test.ts
  apps/server/src/__tests__/test-db.ts
  apps/server/src/db/migrate.ts
  apps/server/src/db/schema.ts
  apps/server/src/events/event-bus.ts
  apps/server/src/events/ws-bridge.ts
  apps/server/src/external/codex-imagegen.ts
  apps/server/src/external/cover.ts
  apps/server/src/index.ts
  apps/server/src/radio/radio-ws-handler.ts
  apps/server/src/routes/radio.ts
  apps/server/src/services/album-generation-service.ts
  apps/server/src/services/radio-mixer-service.ts
  apps/server/src/services/radio-request-service.ts
  apps/server/src/services/radio-station-service.ts
  apps/server/src/services/song-service.ts
  apps/server/src/worker/index.ts
  apps/server/src/worker/queues.ts
  apps/server/src/worker/runtime/queue-actors.test.ts
  apps/server/src/worker/runtime/queue-actors.ts
  apps/server/src/worker/song-worker.test.ts
  apps/server/src/worker/song-worker.ts
  packages/shared/src/types.ts
Due: biome-check, typecheck

feat(web): radio operations UI — queue dashboard, route rework
  apps/web/src/components/autoplayer/settings/SettingsTabAudioEngine.tsx
  apps/web/src/components/autoplayer/settings/SettingsTabModels.tsx
  apps/web/src/integrations/api/hooks.ts
  apps/web/src/integrations/api/provider.tsx
  apps/web/src/lib/endpoints.ts
  apps/web/src/routes/autoplayer.tsx
  apps/web/src/routes/autoplayer_.library.tsx
  apps/web/src/routes/autoplayer_.mini.tsx
  apps/web/src/routes/autoplayer_.oneshot.tsx
  apps/web/src/routes/autoplayer_.orchestrator.tsx
  apps/web/src/routes/autoplayer_.playlists.tsx
  apps/web/src/routes/autoplayer_.queue.tsx
  apps/web/src/routes/autoplayer_.settings.tsx
  apps/web/src/routes/house.tsx
  apps/web/src/services/codex-imagegen.ts
  apps/web/src/services/cover.ts
Due: biome-check, typecheck

chore: fix Node 26 dev environment
  apps/server/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome-check

refactor: remove anthropic text/persona provider
  apps/server/src/__tests__/agent-ensemble.test.ts
  apps/server/src/agents/agent-registry.ts
  apps/server/src/external/llm-client.ts
  apps/server/src/external/pi-runtime.ts
  apps/server/src/routes/autoplayer.ts
  apps/server/src/worker/queues.ts
  apps/web/src/components/autoplayer/PlaylistCreator.tsx
  apps/web/src/components/autoplayer/settings/SettingsTabModels.tsx
  apps/web/src/routes/autoplayer_.settings.tsx
  apps/web/src/routes/autoplayer_.testlab.llm.tsx
  apps/web/src/services/llm-client.ts
  packages/shared/src/text-llm-profile.ts
  packages/shared/src/types.ts
  packages/shared/src/validation/playlist-schemas.ts
Due: biome-check, typecheck

refactor: remove ComfyUI image provider, default to inference-sh
  apps/server/src/__tests__/ace-submit.test.ts
  apps/server/src/__tests__/agent-ensemble.test.ts
  apps/server/src/__tests__/event-handlers.test.ts
  apps/server/src/external/comfyui-workflow.json
  apps/server/src/external/cover.ts
  apps/server/src/external/service-urls.ts
  apps/server/src/routes/autoplayer.ts
  apps/server/src/services/settings-service.ts
  apps/server/src/worker/index.ts
  apps/server/src/worker/queues.ts
  apps/server/src/worker/runtime/provider-registry.ts
  apps/server/src/worker/song-worker.test.ts
  apps/server/src/worker/song-worker.ts
  apps/web/src/components/autoplayer/settings/SettingsTabModels.tsx
  apps/web/src/components/autoplayer/settings/SettingsTabNetwork.tsx
  apps/web/src/data/comfyui-workflow-z-image-turbo.json
  apps/web/src/lib/server-settings.ts
  apps/web/src/routes/autoplayer_.settings.tsx
  apps/web/src/routes/autoplayer_.testlab.connections.tsx
  apps/web/src/routes/autoplayer_.testlab.cover.tsx
  apps/web/src/routes/autoplayer_.testlab.e2e.tsx
  apps/web/src/services/cover.ts
  packages/shared/src/inference-sh-image-models.ts
Due: biome-check, typecheck

feat: global coversEnabled toggle to disable album art
  apps/server/src/worker/index.ts
  apps/server/src/worker/song-worker.test.ts
  apps/server/src/worker/song-worker.ts
  apps/web/src/components/autoplayer/settings/SettingsTabModels.tsx
  apps/web/src/routes/autoplayer_.settings.tsx
Due: biome-check, typecheck

refactor: centralize ACE generation defaults in shared
  apps/server/src/external/ace.ts
  apps/web/src/components/autoplayer/settings/SettingsTabAudioEngine.tsx
  apps/web/src/routes/autoplayer_.settings.tsx
  apps/web/src/services/ace.ts
  packages/shared/src/ace-settings.ts
Due: biome-check, typecheck

feat: raw oneshot — text straight to ACE-Step with zero LLM
  apps/server/src/__tests__/oneshot-raw.test.ts
  apps/server/src/routes/songs/create.ts
  apps/web/src/integrations/api/hooks.ts
  apps/web/src/routes/autoplayer_.oneshot.tsx
Due: biome-check, typecheck

design: console polish for settings + radio operations pages
  apps/web/src/components/autoplayer/OpsPageHeader.tsx
  apps/web/src/components/autoplayer/Stat.tsx
  apps/web/src/routes/autoplayer_.queue.tsx
  apps/web/src/routes/autoplayer_.settings.tsx
Due: biome-check, typecheck

feat: tune ACE generation defaults for sub-realtime quality
  packages/shared/src/ace-settings.ts
Due: biome-check, typecheck

fix: pinned DNS lookup breaks on Node 26 multi-address connect
  apps/server/src/utils/public-http.ts
Due: biome-check, typecheck

feat: oneshot navigation on the radio home page
  apps/web/src/routes/autoplayer.tsx
Due: biome-check, typecheck

fix: evict deleted songs from worker queues
  apps/server/src/worker/index.ts
  apps/server/src/worker/runtime/actor-runtime.ts
  apps/server/src/worker/runtime/types.ts
Due: biome-check, typecheck

fix: ACE steps default 12 -> 8 to match server clamp
  packages/shared/src/ace-settings.ts
Due: biome-check, typecheck

feat: Reimagine page — re-render a song in a new style via ACE cover
  apps/server/src/__tests__/reimagine.test.ts
  apps/server/src/__tests__/test-db.ts
  apps/server/src/db/migrate.ts
  apps/server/src/db/schema.ts
  apps/server/src/external/ace.ts
  apps/server/src/external/youtube-audio.ts
  apps/server/src/routes/songs/create.ts
  apps/server/src/services/song-service.ts
  apps/server/src/utils/song-audio-path.ts
  apps/server/src/worker/runtime/provider-registry.ts
  apps/server/src/worker/runtime/types.ts
  apps/server/src/worker/song-worker.test.ts
  apps/server/src/worker/song-worker.ts
  apps/web/src/integrations/api/hooks.ts
  apps/web/src/routeTree.gen.ts
  apps/web/src/routes/autoplayer.tsx
  apps/web/src/routes/autoplayer_.reimagine.tsx
  packages/shared/src/types.ts
Due: biome-check, typecheck

fix: SSRF guard for reimagine URL downloads
  apps/server/src/external/youtube-audio.ts
Due: biome-check, typecheck
